/* Font The Nautigal */
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

/* Font Markazi */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

/* Font PT Sans Narrow */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root{
    /* Font */ /* F = Font*/
    --f-judul: "The Nautigal";      
    --f1: "Markazi Text";
    --f2: "PT Sans Narrow";
    /* Font */

    /* Background Color */ /* p = primary */ /* s = secondary */ /* t = tersier */
    --p1: #EADCA6;
    --p2: #FAF7EA;
    --p3: #F0E7C1;
    --p4: #E7D698;
    --p5: #DDC66F;
    --p6: #D3B645;
    --p8: #675718;
    --s1: #F8F3D9;
    --s2: #FBF8E9;
    --s3: #F3EBBE;
    --s4: #EBDD93;
    --s6: #C2A824;
    --s7: #97831C;
    --t1: #BC360E;
    --t2: rgba(255, 0 ,0, 0.56);
    --t3: #C62005;
    --t4: #2451A4;
    --t5: #FFFBE6;
    --t6: #2C2C2C;
    --t7: #14AE5C;
    --t8: #BC360E;
    --t9: #2CA514;
    --t10: #FF4B2E;
    --n5: #A6A6A6;
    --black: #000000;
    --white: #ffffff;
    /* Background Color */
}

.c-f-judul{
    font-family: var(--f-judul);
}

.c-f1{
    font-family: var(--f1);
}

.c-f2{
    font-family: var(--f2);
}
