<!-- Modal --> <!-- Harus Tarok Paling Atas -->
<div class="c-container-modal" onclick="Close()" id="modal">
    <div class="c-modal">
        <img src="../public/tutup.png" class="c-icon-close" onclick="Close()">
        <div class="c-container-img">
            <img src="../public/berhasil.png" style="width: 40%;">
        </div>
        <h1>Berhasil Mendaftarkan Donasi</h1>
        <p>Silakan Kirimkan Barang Sebelum <b>04-03-2025</b> untuk memvalidasi donasi</p>
        <button onclick="Direct()">Kembali Ke Beranda</button>
    </div>
</div>
<!-- Modal -->