<!-- -------------- -->
<!-- ------CSS----- -->
<!-- -------------- -->
    <!-- Import Tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Import VI -->
    <link rel="stylesheet" href="css/vi.css">
<!-- -------------- -->
<!-- ------CSS----- -->
<!-- -------------- -->

<!-- -------------- -->
<!-- ----Header---- -->
<!-- -------------- -->
    <header class="px-3 grid grid-cols-3 bg-[var(--p1)]">
        <div class="flex markazi-text-beranda">
            <div class="mx-3 h-full hover:bg-[var(--s1)] grid place-content-center">
                <a href="beranda.html" class="c-f1 px-3 text-xl ">Beranda</a>
            </div>
            <div class="mr-3 h-full hover:bg-[var(--s1)] grid place-content-center">
                <a href="toko.html" class="c-f1 px-3 text-xl ">Toko</a>
            </div>
            <div class="mr-3 h-full hover:bg-[var(--s1)] grid place-content-center">
                <a href="edukasi.html" class="c-f1 px-3 text-xl ">Edukasi</a>
            </div>
            <div class="mr-3 h-full hover:bg-[var(--s1)] grid place-content-center">
                <a href="donasi.html" class="c-f1 px-3 text-xl ">Donasi</a>
            </div>
        </div>
        <div class="grid place-content-center">
            <a href="beranda.html" class="c-f-judul p-0 m-0 text-center text-4xl">Arunika</a>
        </div>
        <div class="flex items-center justify-end">
            <img src="public/cart.png" class="mr-6 h-[1.5vw]">
            <img src="public/profile.png" class="mr-6 h-[1.5vw]">
        </div>
    </header>
<!-- -------------- -->
<!-- ----Header---- -->
<!-- -------------- -->

<!-- -------------- -->
<!-- ----Footer---- -->
<!-- -------------- -->
    <footer class="bg-[var(--black)] p-5 text-white">
        <div class="grid grid-cols-3">
            <div class="grid place-content-center text-center">
                <h1 class="c-f-judul text-4xl">Arunika</h1>
                <p class="c-f1 w-64">“Setiap pakaian punya cerita. Pilihlah cerita yang ramah lingkungan"</p>
            </div>
        </div>
        <div class="w-full grid place-content-center opacity-70">
            <h1 class="c-f1">Copyright@2025 | Ricky Cahyadi, Aileen Averina, Hans Aristo</h1>
        </div>
    </footer>
<!-- -------------- -->
<!-- ----Footer---- -->
<!-- -------------- -->
